Q1. What is database? differenciate between SQL and NoSQL in databases.

Ans : A Database is a collection of related information and records. The data is managed by systems softwere called database management system (DBMS). Databases can be used to store data for a wide range of applications, including e-commerce sites, social media platforms, financial systems, and much more.

Threre are two catagories of databases : SQL database and NoSQL database.

SQL(Structued Query Language) : 
  
    1 SQL is a language used to manage relational databases
    2 SQL databases are designed to store structured data in tables with predefined relationships.
    3 SQL databases use the SQL query language to manipulate and retrieve data.
    4  SQL databases are known for their ability to handle complex queries and transactions, making them well-suited for large-scale enterprise applications. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.
NoSQL(Not only Sturctured Query Language) :

    1 SQL is a language used to manage non-relational databases
    2 NoSQL databases store data in a variety of ways, such as key-value pairs, document-oriented databases, graph databases, and more. 
    3 NoSQL databases are designed to handle unstructured or semi-structured data.
    4 NoSQL databases use a variety of query languages, depending on the type of database being used.
    5 NoSQL databases are known for their ability to scale horizontally and handle large amounts of unstructured data. Examples of NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

done

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL : DDL stands for Data Defintion Language. It is used to defining and managing database structure and schemas.

The following are some of the commonly used DDL statements in SQL:

1. CREATE : It is used to create database objects such as tables, views etc. Here's an example of creating a table:

In [ ]:
CREATE TABLE Student (
   student_id INT PRIMARY KEY,
   name VARCHAR(20),
   course VARCHAR(20),
   );

2. DROP : It is used to remove database objects such as tables, views, indexes, etc. Here's an example of dropping a table:

In [ ]:
DROP TABLE Student;

3. ALTER: It is used to modify the structure of existing database objects such as tables, views, indexes, etc. Here's an example of adding a new column to an existing table:

In [ ]:
ALTER TABLE Student ADD mail_id VARCHAR(50);

4. TRUNCATE: It is used to remove all the data from a table, while keeping its structure intact. Here's an example of truncating a table:

In [ ]:
TRUNCATE TABLE Student;

done


Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS: DML : DML stands for Data Manipulation Language. IT is used for inserting, updating and deleting data from the database.

The following are some of the commonly used DML statements in SQL:

1. INSERT: It is used to add new data into a table. Here's an example of inserting a new record into a table

In [ ]:
INSERT INTO Student (Student_id, name, course)
VALUES (1, 'Abhishek', 'Data science masters');

2. UPDATE: It is used to modify existing data within a table. Here's an example of updating a record within a table:

In [ ]:
UPDATE Student
SET major = 'web development'
WHERE student_id = 1;

3. DELETE: It is used to remove data from a table. Here's an example of deleting a record from a table:

In [ ]:
DELETE FROM Student
WHERE student_id = 1;

done


Q4. What is DQL? Explain SELECT with an example.

Ans: DQL: DQL is stands for Data Query Language. It is used to retrive the data from database.

The most commonly used DQL statement in SQL is SELECT, which is used to retrieve data from one or more tables. Here's an example of using SELECT to retrieve all records from a table:

In [ ]:
SELECT * FROM Student;

In this example, the asterisk (*) is used as a wildcard to select all columns from the Student table.


done

Q5. Explain Primary Key and Foreign Key.

Ans: 
1. Primary Key: A primary key is a column or set of columns that uniquely identifies each record in a table. It must be unique, non-null, and immutable. Here's an example of defining a primary key in a CREATE TABLE statement:

In [ ]:
CREATE TABLE employees (
   employee_id INT PRIMARY KEY,
   first_name VARCHAR(50),
   last_name VARCHAR(50),
   hire_date DATE,
   salary NUMERIC(10,2)
);

In this example, the employee_id column is defined as the primary key of the employees table.

2. Foreign Key: A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between the two tables and enforce referential integrity. Here's an example of defining a foreign key in a CREATE TABLE statement:

In [ ]:
CREATE TABLE orders (
   order_id INT PRIMARY KEY,
   customer_id INT,
   order_date DATE,
   total_amount NUMERIC(10,2),
   FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

In this example, the customer_id column in the orders table is defined as a foreign key that references the primary key of the customers table.|

done

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:

In [ ]:
import mysql.connector

# create a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SELECT query
mycursor.execute("SELECT * FROM customers")

# fetch all rows from the result set
result = mycursor.fetchall()

# print the rows
for row in result:
  print(row)

cursor() : cursor() method creates a cursor/pointer object which is used to interact with a MySQL database.

execute() : It is used to execute a SQL query on a MySQL database using a cursor object in Python.



done 


Q7. Give the order of execution of SQL clauses in an SQL query.

Ans:  Order of execution of SQL clauses
1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT